#  Airline Delay Data Cleaning & Profiling

This notebook focuses on preparing and validating the **Airline Delay Cause** dataset for analysis.  
The goal is to identify and correct data quality issues — such as missing values, outliers, and type inconsistencies — and to produce a clean dataset ready for exploratory and visual analysis.

In [3]:
# --- Import Libraries ---
import pandas as pd         # Data manipulation and analysis
import numpy as np          # Numerical operations  
import re                   # Regrex for flexible pattern matching

###  Load Dataset

The dataset is loaded from a local CSV file.  
Initial inspection (shape, data types, and preview) helps verify that the file imported correctly and matches documentation expectations.

In [4]:
# Load Dataset
df = pd.read_csv('/Users/braydencox/Dropbox/Mac/Downloads/Airline_Delay_Cause_20251112_124120/Airline_Delay_Cause.csv')

# Quick Data Overview
df.info()
display(df.head())
df.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 409612 entries, 0 to 409611
Data columns (total 21 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   year                 409612 non-null  int64
 1   month                409612 non-null  int64
 2   carrier              409612 non-null  object
 3   carrier_name         409612 non-null  object
 4   airport              409612 non-null  object
 5   airport_name         409612 non-null  object
 6   arr_flights          408952 non-null  float64
 7   arr_del15            408656 non-null  float64
 8   carrier_ct           408952 non-null  float64
 9   weather_ct           408952 non-null  float64
 10  nas_ct               408952 non-null  float64
 11  security_ct          408952 non-null  float64
 12  late_aircraft_ct     408952 non-null  float64
 13  arr_cancelled        408952 non-null  float64
 14  arr_diverted         408952 non-null  float64
 15  arr_delay            408952 non-null  float64
 16  carrier_delay        408952 non-null  float64
 17  weather_delay        408952 non-null  float64
 18  nas_delay            408952 non-null  float64
 19  security_delay       408952 non-null  float64
 20  late_aircraft_delay  408952 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 65.6+ MB

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2025,7,YV,Mesa Airlines Inc.,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",18.0,2.0,1.43,0.00,...,0.0,0.00,0.0,0.0,44.0,32.0,0.0,12.0,0.0,0.0
1,2025,7,YV,Mesa Airlines Inc.,CHS,"Charleston, SC: Charleston AFB/International",48.0,16.0,4.06,3.15,...,0.0,3.30,2.0,0.0,1282.0,331.0,438.0,259.0,0.0,254.0
2,2025,7,YV,Mesa Airlines Inc.,CLE,"Cleveland, OH: Cleveland-Hopkins International",65.0,10.0,3.53,1.00,...,0.0,2.43,2.0,0.0,735.0,151.0,172.0,139.0,0.0,273.0
3,2025,7,YV,Mesa Airlines Inc.,CLT,"Charlotte, NC: Charlotte Douglas International",134.0,31.0,13.19,2.43,...,0.0,4.74,8.0,0.0,2264.0,798.0,303.0,702.0,0.0,461.0
4,2025,7,YV,Mesa Airlines Inc.,CMH,"Columbus, OH: John Glenn Columbus International",61.0,12.0,6.44,0.28,...,0.0,1.69,0.0,0.0,630.0,211.0,17.0,123.0,0.0,279.0

,count,mean,std,min,25%,50%,75%,max
year,409612.0,2014.715218,6.616430,2003.00,2009.00,2015.00,2021.00,2025.00
month,409612.0,6.468014,3.442544,1.00,3.00,6.00,9.00,12.00
arr_flights,408952.0,361.155219,993.827182,1.00,55.00,112.00,254.00,21977.00
arr_del15,408656.0,69.864434,194.585817,0.00,8.00,21.00,52.00,6377.00
carrier_ct,408952.0,20.621496,48.715269,0.00,2.79,7.50,18.66,1886.58
weather_ct,408952.0,2.536097,9.662785,0.00,0.00,0.53,2.00,717.94
nas_ct,408952.0,22.230743,79.393254,-0.01,1.41,4.91,13.98,4091.27
security_ct,408952.0,0.171458,0.821340,0.00,0.00,0.00,0.00,80.56
late_aircraft_ct,408952.0,24.254104,74.913717,0.00,1.54,5.55,16.27,2588.13
arr_cancelled,408952.0,6.744285,34.782892,0.00,0.00,1.00,4.00,4951.00
arr_diverted,408952.0,0.840910,3.834991,0.00,0.00,0.00,1.00,256.00
arr_delay,408952.0,4218.975002,12976.256753,0.00,408.00,1150.00,2999.00,648300.00
carrier_delay,408952.0,1324.919900,3905.756663,0.00,134.00,411.00,1082.00,321792.00
weather_delay,408952.0,228.574708,909.755462,0.00,0.00,23.00,158.00,64550.00
nas_delay,408952.0,1034.045357,4362.757658,-19.00,49.00,184.00,558.00,238440.00
security_delay,408952.0,7.148976,39.156889,0.00,0.00,0.00,0.00,3760.00
late_aircraft_delay,408952.0,1624.278981,5246.925768,0.00,77.00,347.00,1104.00,279153.00

### Data Profiling
This step checks for structural and quality issues in the raw dataset, including missing values, duplicates, and outliers. The goal is to assess data readiness before cleaning.

In [5]:
#Basic Shape
print("Shape:", df.shape)
print("\n Column types:\n", df.dtypes)

#Missing Data Summary
print("Missing Data:\n", df.isnull().sum().sort_values(ascending=False).head(20))

#Check Duplicates
print("Duplicate Rows:", df.duplicated().sum())

#Identify Dates
for col in df.columns:
    if re.search(r'date|year|month', col, re.I):
        print(f"Date Column Found: {col}")

#Detecting Outliers
outlier_summary = []
for col in df.select_dtypes(include=[np.number]).columns:
    Q1, Q3 = df[col].quantile([0.25, 0.75])
    iqr = Q3 - Q1
    lower, upper = Q1 - 1.5 * iqr, Q3 + 1.5 * iqr
    outliers = ((df[col] < lower) | (df[col] > upper)).sum()
    if outliers > 0:
        outlier_summary.append((col, outliers))
pd.DataFrame(outlier_summary, columns=['Column', 'Outlier Counts']).head(10)

Shape: (409612, 21)

 Column types:
 year                     int64
month                    int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object
Missing Data:
 arr_del15              956
nas_ct                 660
security_ct            660
security_delay         660
nas_delay              660
weather_delay          660
carrier_delay          660
arr_delay              660
arr_diverted           660
arr_cancelled          660
late_aircraft_ct       660
late_aircraft_delay    660
weather_ct             660
carrier_ct             660
arr_flights            660
month                    0
airport_name             0
airport                  0
carrier_name             0
carrier                  0
dtype: int64
Duplicate Rows: 0
Date Column Found: year
Date Column Found: month

             Column  Outlier Counts
0       arr_flights           48191
1         arr_del15           46784
2        carrier_ct           42631
3        weather_ct           44268
4            nas_ct           49055
5       security_ct           52167
6  late_aircraft_ct           48428
7     arr_cancelled           46130
8      arr_diverted           27715
9         arr_delay           46942

#### Outlier Summary
Many columns show high outlier counts under the IQR rule. However, since the dataset measures flight counts and delays, these high values likely correspond to larger airports rather than data errors. Outliers were retained.

#### Missing Data
15 numeric columns contained minor missing values (<0.25% of rows). These were interpreted as unreported data and replaced with zeros.

----------------------------------------------
### Data Cleaning

This section finalizes the dataset by addressing minor data quality issues and structuring the data for analysis.

- **Missing values:**  
  All numeric columns had fewer than 1,000 missing entries out of over 400,000 total rows. These were interpreted as unreported values (e.g., airports or months with no recorded delays) and replaced with zeros to maintain completeness without distorting averages.

- **Date handling:**  
  The `year` and `month` columns were merged into a single `date` column using the first day of each month as a placeholder. This enables easy time-series analysis and visualization.

- **Data integrity check:**  
  Verified that no numeric values were negative—ensuring that flight counts and delay times are logically valid.

- **Column organization:**  
  Columns were reordered so that identifying fields (`date`, `carrier`, `airport`) appear first, followed by the numeric metrics. This improves readability and consistency across future analyses.

- **Output:**  
  The cleaned dataset was exported as `Airline_Delay_Cause_Cleaned.csv` and is ready for exploratory analysis.

In [ ]:
# Cleaning The Data

# Fill missing numeric values with 0
numeric_cols = df.select_dtypes(include = [float, int]).columns
df[numeric_cols] = df[numeric_cols].fillna(0)

# Combine Year & Month
df["date"] = pd.to_datetime(df[["year", "month"]].assign(day = 1))

# Verify Data Integrity 
(df[numeric_cols] < 0).sum().sum()

# Reorder Columns
df = df[["date", "year", "month", "carrier", "carrier_name", "airport", "airport_name"] + [c for c in df.columns if c not in ["date", "year", "month", "carrier", "carrier_name", "airport", "airport_name"]]]

# Save Cleaned Data
df.to_csv("Airline_Delay_Cause_Cleaned.csv", index = False)